.transition-all {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.transition-crossfade.ng-enter {
    -webkit-animation: crossfade-in;
    animation: crossfade-in;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.transition-crossfade.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-animation: crossfade-out;
    animation: crossfade-out;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

@-webkit-keyframes crossfade-in {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes crossfade-in {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes crossfade-out {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes crossfade-out {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.fade.in {
    opacity: 1
}

.collapse {
    display: none;
    opacity: 0
}

.collapse.in {
    display: block;
    opacity: 1
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

input[data-v-0fda31f2] {
    border: none;
    height: 5rem
}

input[data-v-0fda31f2]:focus {
    outline: none
}

input.with-border[data-v-0fda31f2] {
    border: 1px solid #e7e9e9;
    border-radius: 2px
}

input.shorter-height[data-v-0fda31f2] {
    height: 3.5rem
}

input.default-font[data-v-0fda31f2] {
    font-size: 3rem;
    font-weight: 300
}

.hr[data-v-0fda31f2] {
    border-bottom: 1px solid #909294;
    width: 150px
}

.field__label+.field__input {
    margin-top: .25rem
}

.fade-enter-active[data-v-32818794],
.fade-leave-active[data-v-32818794]:not(.disabled) {
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.fade-enter[data-v-32818794],
.fade-leave-to[data-v-32818794] {
    opacity: 0
}

.label-tooltip[data-v-32818794] {
    text-transform: none
}