.dotted-border[data-v-929c734a] {
    background-image: linear-gradient(80deg, #22262a 15%, transparent 0);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x
}

.bg-image-container[data-v-929c734a] {
    background-repeat: no-repeat
}

@media screen and (min-width:1200px) {
    .bg-image-container[data-v-929c734a] {
        background-position: 100%;
        background-size: contain
    }
}

@media screen and (min-width:768px)and (max-width:1199px) {
    .bg-image-container[data-v-929c734a] {
        background-position: right -240px center;
        background-size: cover
    }
}

@media screen and (max-width:767px) {
    .bg-image-container[data-v-929c734a] {
        min-height: 600px;
        background-size: cover
    }
}

.checkmark-icon-thin path[pid="0"][data-v-929c734a] {
    stroke-width: 1.5
}

.checkmark-ul .checkmark-li[data-v-929c734a] {
    font-size: 22px
}

.checkmark-ul .checkmark-li[data-v-929c734a] :last-of-type {
    margin-bottom: 0
}

.benefits-li[data-v-929c734a]::marker {
    color: #aa4528
}

.benefits-ul .benefits-li[data-v-929c734a]:first-child {
    list-style-type: none
}

.dotted-border[data-v-406a1706] {
    background-image: linear-gradient(80deg, #22262a 15%, transparent 0);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x
}

@media screen and (min-width:768px) {
    .gap-900-md[data-v-406a1706] {
        gap: 9rem
    }
}

.field__label+.field__input {
    margin-top: .25rem
}

.dotted-border[data-v-27c63600] {
    background-image: linear-gradient(80deg, #22262a 15%, transparent 0);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x
}

.drawer-redirect-modal .app-download-prompt[data-v-27c63600] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.drawer-redirect-modal .modal-app-icon[data-v-27c63600] {
    background-color: #f4633a;
    border-radius: 10px;
    height: 60px;
    padding: .5rem;
    width: 60px
}

.drawer-redirect-modal .download-app-image[data-v-27c63600] {
    max-width: 165px
}

@media screen and (max-width:767px) {
    .drawer-redirect-modal .module[data-v-27c63600] {
        border-radius: 8px 8px 0 0;
        bottom: 0;
        margin-left: -1rem;
        position: absolute;
        width: 100%
    }
}

.lead-capture .lead-capture__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.lead-capture .lead-capture__fieldset .field__input input {
    margin-top: 0 !important
}

.lead-capture .lead-capture__error {
    bottom: -25px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

.logos-list img[data-v-b36e501e] {
    max-height: 64px;
    max-width: 130px;
    -webkit-filter: invert(62%) sepia(0) saturate(0) hue-rotate(0) brightness(94%) contrast(100%);
    filter: invert(62%) sepia(0) saturate(0) hue-rotate(0) brightness(94%) contrast(100%)
}

.logos-list--dark img[data-v-b36e501e] {
    max-height: 64px;
    max-width: 130px;
    -webkit-filter: invert(22%) sepia(6%) saturate(93%) hue-rotate(182deg) brightness(86%) contrast(87%);
    filter: invert(22%) sepia(6%) saturate(93%) hue-rotate(182deg) brightness(86%) contrast(87%)
}

.dotted-border[data-v-02216bb9] {
    background-image: linear-gradient(80deg, #22262a 15%, transparent 0);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x
}

.marketing-hero[data-v-02216bb9] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 27rem;
    padding-top: 2rem;
    position: relative
}

@media screen and (min-width:768px) {
    .marketing-hero[data-v-02216bb9] {
        min-height: 32rem;
        padding-top: .5rem
    }
}

.marketing-hero.hero--full[data-v-02216bb9] {
    min-height: 100vh
}

@media screen and (max-width:767px) {
    .marketing-hero--content[data-v-02216bb9] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }

    .width-75-smo[data-v-02216bb9] {
        width: 75%
    }
}

.question-list-item .question-list-item__toggle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.question-list-item .svg-icon {
    position: relative
}

.dotted-border[data-v-40c27e00] {
    background-image: linear-gradient(80deg, #22262a 15%, transparent 0);
    background-position: top;
    background-size: 4px 2px;
    background-repeat: repeat-x
}

.tiles-wrapper[data-v-40c27e00] {
    display: grid
}

@media screen and (min-width:768px)and (max-width:1199px) {
    .tiles-wrapper[data-v-40c27e00] {
        gap: 1.5rem
    }
}

@media screen and (min-width:768px) {
    .tiles-wrapper[data-v-40c27e00] {
        grid-auto-flow: column;
        grid-auto-columns: 1fr
    }
}

@media screen and (min-width:1200px) {
    .tiles-wrapper[data-v-40c27e00] {
        gap: 3rem
    }
}